html {
    background-color: #1E2021;
}


section {
    position: fixed;
    width:60%;
    height: 100%;
    left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: wheat;
}

#title-main {
    position: relative;
    display: block;
    font-size: 25px;
    background-color: transparent;
    color: white;
    height: 30px;
    /*    box-sizing: border-box;*/
    margin: 0px;
    padding: 0px;

}

#room-create{
    display: flex;
    flex-direction: row;
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    justify-items: center;*/
    width: 100%;
    text-align: center;
    /*    height: 40px;*/
    font-size: 20px;
    border-radius: 3px;
    /*    box-sizing: border-box;*/
    background-color:#3c4f65;
    margin-bottom:10px;

}

#creat-btn{
    /*    position: relative;*/
    /*    float: left;*/
    position: sticky;
    height: 30px;
    float: left;
}

#room-create:hover{
    border-color:#f3f4ed;
    background-color: #f3f4ed;
}
.form {
    background-color: #393e46;
    width: 100%;
    color: wheat;

}

.form .place{
    width:85%;
    background-color: inherit;
    border: 2px; color:black;
    border-radius: 3px;
    height: 80%;
}

::placeholder {
    color: wheat;
    text-align: center;
}

.subtn{
    right: 5px;
    border-radius: 3px;
    border-color: aliceblue;
    border-width: 4px;
    margin-right: px;
    padding-left: 10px;
}



.formbtn{
    border: none;
    /*    box-sizing: border-box;*/
    background-color: transparent;
    border-radius: 3px;
    height: 95%;
    position: sticky;
    /*    color: #424642;*/
    color: wheat;
    border-width: 3px;
    border-color: azure;
}


#room-list {
    background-color: #414141;
    width:70%;
    height: 90%;
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.hidden {
    display: none;
}

#room-list ul {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 100%;
    justify-content: center;
}

#room-list li {
    border-radius:8px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    height: 40px;
    background-color: #393e46;
    width: 100%;
    color: wheat;
}